<div >
  <div class="row" >
    <div class="col-md-1">
      <div #mySidenav class="sidenav">  </div> <!-- For black Background -->
    </div>
    <!-- ------------------------------------------------- -->
    <div class="col-md-1">
      <div #mySidenav class="sidenav3">
        <div class="tooltip1">
          <ul id="myco"></ul>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------ -->

    <div #mySidenav2 class="sidenav2"></div>      <!-- For black Background -->

    <div #mySidenav2 class="sidenav4">
      <div class="tooltip2 mylist">
        <ul id="myco2"></ul>
      </div>
    </div>
  </div>

</div>
